body{
    background-color: #333 !important;
    color: #fff !important;
}
.navbar{
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}

#home-section{
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    background: url(../images/looplab/home.jpg) ;
}
#home-section .dark-overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0,0,0,0.7);
}
#home-section .home-inner {
    padding-top:150px;
}
#home-section .card-form{
    opacity: 0.8;
}
#home-section .fas{
    color: #008ed6;
    background: #fff;
    padding:5px;
    border-radius: 5px;
}